.container  {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #000;
    padding: 10px;
}

.container > i {
    flex-grow: 1;
}

.container > i.fa-sort-desc {
    cursor: pointer;
}

.container > input {
    border: none;
    flex-grow: 4;
    outline: none;
    text-align: center;
}